@charset "UTF-8";
.cl--white {
  color: var(--white) !important; }

/* ROOT
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --blue:#1e90ff;
  --white:#e9e8e4;
  --tear:#009688;
  --orange:#f45b69;
  --dark1:#252827;
  --dark2:#313534;
  --dark3:#335666;
  --codeclass:#c56625; }
