@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

body {
  font-family: 'Source Code Pro', monospace; }
  body a {
    text-decoration: none; }

/* ATOM
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.cl--white {
  color: var(--white) !important; }

.cl--tear {
  color: var(--tear) !important; }

/* ROOT
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
  --blue:#1e90ff;
  --white:#e9e8e4;
  --tear:#009688;
  --orange:#f45b69;
  --dark1:#252827;
  --dark2:#313534;
  --dark3:#335666;
  --codeclass:#c56625; }
